<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="css/container.css">
    <link rel="icon" href="https://img.icons8.com/cotton/2x/home.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <form action="/forgotPassword" method="Post">
        <div class="row">
            <h2 style="text-align:center">Username</h2>
        </div>
        <input type="text" name="username" placeholder="Username" required>
        <input type="submit" value="Sign Up" class="grad1">
    </form>
</div>
</body>
</html>