<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/javascript.js"></script>
    <script src="/js/prettydate.js"></script>
    <script src="/js/jquery.atagsinput.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.atagsinput.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- include summernote css/js -->
    <script src="https://cdn.ckeditor.com/ckeditor5/12.3.0/classic/ckeditor.js"></script>
</head>

<body class="row">
    <!-- <form action="/home" class="col-lg-4 backgroudBlue">
<button type="submit" class="btn btn-primary" style="width:100%">Trang chủ</button>
</form>
<form action="/findTag" method="GET" class="col-lg-4 backgroudBlue form-control-plaintext">
<input type="text" placeholder="Tìm Tag" name="tag" class="col-lg-9" required>
<button type="submit" class="btn btn-primary floatRight col-lg-3" style="width:100%">Tìm</button>
</form>
<form action="/logout" method="get" class="col-lg-4 backgroudBlue">
<button type="submit" class="btn btn-danger floatRight" style="width:100%">Đăng xuất</button>
</form> -->
    <!--<form action="/userManager" class="col-lg-4 backgroudBlue">-->
    <!--    <button type="submit" class="btn btn-primary" style="width:100%">Quản lý người dùng</button>-->
    <!--</form>-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="width:100%">
        <form action="/home" class="col-lg-2">
            <button type="submit" class="btn btn-primary backgroudBlack" style="width:100%">Home</button>
        </form>
        <form class="form-inline col-lg-6" action="/find">
            <input class="form-control col-lg-9" type="text" name="search" placeholder="Search">
            <button class="btn btn-success col-lg-3 backgroudBlack" type="submit">Find</button>
        </form>

        <form action="/userManager" method="get" class="col-lg-2">
            <button type="submit" class="btn btn-primary backgroudBlack" style="width:100%">User Manager</button>
        </form>

        <div class="col-lg-1">
            <a class="container">
                <a th:href="@{/profile(username=${session.username})}" class="cangiua">
                    <img th:src="@{${avt}}" alt="Avt" class="rounded-circle" width="40px">
                </a>
            </a>
        </div>
        <form action="/logout" method="get" class="col-lg-1">
            <button type="submit" class="btn btn-danger floatRight backgroudBlack" style="width:100%">Logout</button>
        </form>
    </nav>

    <div class="container">
        <div class="col-lg-9 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form class="form-horizontal" action="/postBlog" method="post">
                <input id="title" class="form-control col-lg-12" name="title" type="text" placeholder="Title">

                <textarea id="content" class="form-control col-lg-12 rich-text" name="content" style="height:300px" type="text" placeholder="Content"></textarea>

                <input id="tags" class="form-control col-lg-9 tagsInputs" name="tag" type="text" placeholder="Tag">

                <button class="btn btn-success col-lg-3 backgroudBlack savepost" type="submit">Share</button>
            </form>
        </div>
    </div>

    <div class="container">
        <h2>Blog</h2>
        <br>
        <div class="row">
            <tr th:each="post : ${posts}">
                <div class="container mt-3 block">
                    <div class="media border p-3">
                        <div class="media-body">
                            <h4>
                                <form action="/post" , method="POST">
                                    <a th:href="@{/post(id=${post.id})}">
                                        <p th:text="${post.title}"></p>
                                    </a>
                                </form>
                            </h4>
                            <div>
                                <span prettydate>
                                    <p  th:text="${post.time}"></p>
                                </span>, Cập nhật:
                                <span prettydate>
                                    <p  th:text="${post.timeUpdate}"></p>
                                </span>
                                <p th:utext="${post.description}"></p>
                            </div>
                            <div class="row float-right">
                                <form action="/editPost" class="col-lg-6">
                                    <a type="submit" class="btn btn-warning" th:href="@{/editPost(id=${post.id})}">Edit</a>
                                </form>

                                <form action="/deletePost" class="col-lg-6">
                                    <a type="submit" class="btn btn-danger" th:href="@{/deletePost(id=${post.id})}">Delete</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        </div>
    </div>
</body>

</html>