<!DocType html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Profile</title>
    <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/technology-devices-2/100/Profile-512.png">
    <link rel="stylesheet" href="/css/avt.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/prettydate.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.3.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="width:100%">
    <form action="/home" class="col-lg-2">
        <button type="submit" class="btn btn-primary backgroudBlack" style="width:100%">Home</button>
    </form>
    <form class="form-inline col-lg-8" action="/find">
        <input class="form-control col-lg-9" type="text" name="search" placeholder="Search">
        <button class="btn btn-success col-lg-3 backgroudBlack" type="submit">Find</button>
    </form>
    <div class="col-lg-1">
        <a class="container">
            <a th:href="@{/profile(username=${session.username})}" class="cangiua">
                <img th:src="@{${avt}}" alt="Avt" class="rounded-circle" width="40px">
            </a>
        </a>
    </div>
    <form action="/logout" method="get" class="col-lg-1">
        <button type="submit" class="btn btn-danger floatRight backgroudBlack" style="width:100%">Logout</button>
    </form>
</nav>

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <img th:src="@{${avt}}" alt="Avt" class="avt mr-3 mt-3 rounded-circle">
            <p th:text="${username}">
                <p th:text="${firstname}">
                    <p th:text="${lastname}">
                        <p th:text="${email}">
                            <p th:text="${phone}">
        </div>
        <div class="col-sm-8">
            <tr th:each="post : ${posts}">
                <div class="container mt-3">
                    <div class="media border p-3">
                        <div class="media-body">
                            <h4>
                                <form action="/post" , method="POST">
                                    <a th:href="@{/post(id=${post.id})}">
                                        <p th:text="${post.title}"></p>
                                    </a>
                                </form>
                            </h4>
                            <div class = "container row">
                            <span prettydate>
                                    <p  th:text="${post.time}"></p>
                                </span>, Cập nhật: 
                                <span prettydate>
                                    <p  th:text="${post.timeUpdate}"></p>
                                </span>
                            </div>
                            <p th:utext="${post.description}"></p>
                            <div class="row float-right">
                                <form action="/editPost" class="col-lg-6">
                                    <a type="submit" class="btn btn-warning" th:href="@{/editPost(id=${post.id})}">Edit</a>
                                </form>

                                <form action="/deletePost" class="col-lg-6">
                                    <a type="submit" class="btn btn-danger" th:href="@{/deletePost(id=${post.id})}">Delete</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        </div>
    </div>
</div>

<!-- <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div> -->
</div>
</body>

</html>